.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

Assignment-1/build/Processing_1\.class

Assignment-1/build/source/Processing_1\.java

Assignment_1/build/Processing_1\.class

Assignment_1/build/source/Processing_1\.java

Assignment_2/build/Assignment_2\$Axis\.class

Assignment_2/build/Assignment_2\$Parabola\.class

Assignment_2/build/Assignment_2\.class

Assignment_2/build/source/Assignment_2\.java

Assignment_1/build/Assignment_1\.class

Assignment_1/build/source/Assignment_1\.java

Assignment_3/build/Assignment_3\$Axis\.class

Assignment_3/build/Assignment_3\$Parabola\.class

Assignment_3/build/Assignment_3\.class

Assignment_3/build/source/Assignment_3\.java

Pong/build/source/Pong\.java

Pong/build/Pong\$Ball\.class

Pong/build/Pong\$Coordinates\.class

Pong/build/Pong\$Player\.class

Pong/build/Pong\$RectangleObject\.class

Pong/build/Pong\.class

Assignment_4_e1/build-tmp/Assignment_4_e1\.class

Assignment_4_e1/build-tmp/source/Assignment_4_e1\.java

Assignment_4_e1/build/source/Assignment_4_e2\.java

Assignment_4_e2/build-tmp/source/Assignment_4_e2\.java

Assignment_4_e2/build/source/Assignment_4_e2\.java

*.class

*.java
